* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background: #fff;
}

.box {
  height: 100px;
  min-width: 100px;
}

.one {
  background: red;
  flex-grow: 3;
}

.two {
  background: blue;
  flex-grow: 1;
}

.three {
  background: green;
  flex-grow: 2;
}
